body{font-family:Georgia;}
.nobody_header {}
.header_top {background:#2E2E2E;height: 60px;}
.header_left ul{margin:0;padding:4px 13px;list-style: none;}
.header_left ul li{float:left;padding:15px 5px;}
.header_left ul li a{border-right: 1px solid #ddd; padding-right: 5px;text-decoration: none;color:#9F9F9F;}
.header_left ul li a span{width: 5px;height: 17px;background: #2E2E2E;position: absolute;top: 21px;left: 320px;}
.header_right{}
.header_right ul{margin:0;padding:0;list-style: none;padding-top:10px;float:right;margin-right:20px;}
.header_right ul li{float: left;height: 36px;width: 36px;background: #787878;border-radius: 50%;margin-right: 5px;}
.header_right ul li:hover{background: red;}
.header_right ul li a{}
.header_right ul li a i{padding: 10px 12px;color:#fff;}
.header_bottom {    border-left: 1px solid #000;
    border-right: 1px solid #000;}
.mainmenu{height: 50px;border-bottom: 5px solid #F1F1F1; margin: 40px 20px;}
.mainmenu ul{margin:0px;padding:0px;list-style: none;}
.mainmenu ul li{float:left;padding-right:20px;}
.mainmenu ul li a{text-decoration: none;color: #2E2E2E;text-transform: uppercase;font-family:Georgia;}
.mainmenu ul li a:hover{border-bottom: 5px solid red;padding-bottom: 26px;}
.slogan{margin: 0px 5px;padding-bottom:20px;}
.side_tittle h1{margin:0;}
.side_search_bar {float:right;padding-top:25px;}
.side_search_bar form{}
.side_search_bar form input{}
.side_search_bar form input[type='text']{width: 215px;height: 30px;border: none;background: #F1F1F1;}
.side_search_bar form button{width:70px;height:30px;background:#0099FF;border:none;text-transform: uppercase;margin-left:5px;color:#fff;}
.slider_area {    border-left: 1px solid #000;
    padding: 12px 20px;
    border-right: 1px solid #000;
    background: #F1F1F1;
    border-top: 5px solid #E9E9E9;
    border-bottom: 5px solid #E9E9E9;
}
.slider {}
.slider h2{font-size: 44px;}
.slider p{font-size: 18px;}
.slider a{ background: #0099FF;color: #fff;width: 125px;height: 30px;display: inline-block;text-align: center;padding-top: 4px;border-radius: 5px;text-decoration: none;text-transform: uppercase;}
.slider a:after{content: ' \00BB';}
.slider_content {padding-top: 100px;}
.slider_img{}
.slider_img img{float:right;}
.main_content_area {padding: 40px 20px;border-left: 1px solid #000;
    border-right: 1px solid #000;}
.content_left {}
.content_right {}
.single_portion {width: 50%;float: left;text-align: center;margin-top: 15px;}
.single_portion img{margin:0 auto;}
.single_portion h2{font-size: 18px;}
.single_portion p{font-size: 17px;}
.contact_area {background: #E0E0E0;border-left: 10px solid #0099FF;margin-top:40px;}
.contect_left {margin-left: 20px; padding: 20px 0px;}
.contect_left h2{font-size: 36px;}
.contect_left p{font-size:18px;}
.contact_today{padding-top:40px;}
.contact_today span{width: 280px;height: 60px;display: inline-block;background: #0099FF;font-size: 26px;text-align: center;color: #fff;padding-top: 10px;border-radius: 5px;}
.footer_top {background: #1A1A1A;padding: 15px;}
.about_us {}
.about_us h2{font-size: 18px;color:#fff;}
.about_us img{padding: 5px;border: 1px solid #555555;margin-bottom: 10px;}
.about_us p{font-size: 13px;color:#666666;}
.about_us a{text-decoration: none;float:right;color:#0099FF;}
.about_us a:after{content: ' \00BB';}

.quick_links {}
.quick_links h2{font-size: 18px;color:#fff;}
.quick_links ul{margin:0;padding:0;list-style: none;}
.quick_links ul li{border-bottom:1px solid #232323;}
.quick_links ul li:before{content: ' \00BB';margin-right: 6px;color:#989898;}
.quick_links ul li:last-child{border-bottom:0px solid #232323;}
.quick_links ul li a{text-decoration: none;color: #0099FF;padding: 3px 0px;display: inline-block;}

.latest_blog {}
.latest_blog h2{font-size: 18px;color:#fff;}

.single_post {}
.single_post h2{color:#666666;margin-bottom: 0;}
.single_post p{color:#666666;margin-bottom:0px;}
.single_post span{color:#666666;display:block;margin-top:10px;}
.single_post a{float:right;color:#0099FF;}
.single_post a:after{content: ' \00BB';}

.contact_us {}
.contact_us h2{font-size: 18px;color:#fff;}

.contact_form {}
.contact_form input[type='text']{background: #232323;border: none;}
.contact_form input[type='email']{background: #232323; border: none;}
.contact_form textarea{height: 105px;width: 255px;background: #232323;border: none;border-radius: 5px}
.contact_form button{background: #0099FF;border: none;color: #fff;text-transform: uppercase}
.contact_form button:hover{color:#fff;}

.footer_bottom{background: #222222;height:60px;}
.footer_left p{color:#666666;font-size: 15px;float:left;padding-top:20px;margin-left: 15px;}
.footer_right p{color:#666666;font-size: 15px;float:right;padding-top:20px;margin-right:15px;}
